streamlit
langchain
langchain-community
langchain-groq
langchain-google-genai
langchain-huggingface
sentence-transformers
python-dotenv
pypdf
faiss-cpu
pydantic
numpy
--extra-index-url https://download.pytorch.org/whl/cpu
torch
